nav {
  display: flex;
  justify-content: space-around;
  background-color: #212121;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a.active {
  font-weight: bold;
}
